[data]
    kiro = {{ promptBoolOnce . "kiro" "Install Kiro CLI hooks" | not | not }}
    wsl = {{ promptBoolOnce . "wsl" "Is this a WSL machine" | not | not }}
    golang = {{ promptBoolOnce . "golang" "Install Go PATH" | not | not }}
